@import "../variables";

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;

  li {
    margin: 0 5px;

    a {
      padding: 10px 15px;
      text-decoration: none;
      color: white;
      background-color: $orange;
      border: 1px solid $orange;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        color: $orange;
        background-color: white;
      }
    }
  }

  .active a {
    color: $orange;
    background-color: white;
    border-color: $orange;
  }
}
